NEXT_PUBLIC_CBOR_ENDPOINT="https://laceanatomy.com/tx?_data=routes%2Ftx"
NEXT_PUBLIC_GA_TRACKING_ID="<Your-GA-Tracking-ID>"

# DATABASE URLS
DATABASE_URL="<Your-DB-URL>"
DIRECT_URL="<Your-Direct-URL>"

MAINNET_BLOCKFROST_KEY = "<Your-Mainnet-Blockfrost-Key>"
PREPROD_BLOCKFROST_KEY = "<Your-Preprod-Blockfrost-Key>"
PREVIEW_BLOCKFROST_KEY = "<Your-Preview-Blockfrost-Key>"