# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
**/.next
**/target


# Miscellaneous
/static/

# Napi build
/packages/napi-pallas/index.d.ts
/packages/napi-pallas/index.js
/packages/napi-pallas/napi-pallas.wasi-browser.js
/packages/napi-pallas/napi-pallas.wasi.cjs
/packages/napi-pallas/wasi-worker-browser.mjs
/packages/napi-pallas/wasi-worker.mjs