@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #FAFAFA;
    --color-surface: #F3F4F6;
    --color-shadow: #000000;
    --color-text_primary: #1F2937;
    --color-text_secondary: #6B7280;
    --color-primary_action: #4299E1;
    --color-accent_blue: #3B82F6;
    --color-bg-red: #F48B8B;
    --color-text-red: #F04D4D;
    --color-border-red: #D93E3E;
    --color-border-green: #86efac;
    --color-success_bg: #D1FAE5;
    --color-explorer_row: #F5F3FF;
    --color-border: #E5E7EB;
    --color-canvas-bg-image: radial-gradient(#222222 1px, transparent 0);
  }

  .dark {
    --color-background: #111827;
    --color-surface: #1F2937;
    --color-shadow: #374151;
    --color-text_primary: #F9FAFB;
    --color-text_secondary: #9CA3AF;
    --color-primary_action: #3182CE;
    --color-accent_blue: #60A5FA;
    --color-bg-red: #F48B8B;
    --color-text-red: #EF4444;
    --color-border-red: #D93E3E;
    --color-border-green: #86efac;
    --color-success_bg: #064E3B;
    --color-explorer_row: #2D3748;
    --color-border: #374151;
    --color-canvas-bg-image: radial-gradient(#44484f 1px, transparent 0);

  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .nav-item-active {
    @apply ml-4 block min-w-24 rounded-xl bg-black p-2 text-center text-xl text-white shadow-md shadow-gray-300;
  }

  .nav-item-inactive {
    @apply ml-4 block min-w-24 rounded-xl bg-gray-100 p-2 text-center text-xl text-black shadow-md shadow-gray-300;
  }
}

canvas {
  background: var(--color-canvas-bg) !important;
  background-image: var(--color-canvas-bg-image) !important;
  background-size: 40px 40px !important;
  background-position: -19px -19px !important;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  margin-top: 6rem;
  border-radius: 5px;
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:focus {
  outline: none;
}