@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #fafafa;
    --color-surface: #f3f4f6;
    --color-shadow: #000000;
    --color-text_primary: #1f2937;
    --color-text_secondary: #6b7280;
    --color-primary_action: #4299e1;
    --color-accent_blue: #3b82f6;
    --color-bg-red: #f48b8b;
    --color-text-red: #f04d4d;
    --color-border-red: #d93e3e;
    --color-border-green: #86efac;
    --color-success_bg: #d1fae5;
    --color-explorer_row: #f5f3ff;
    --color-border: #e5e7eb;
    --color-canvas-bg-image: radial-gradient(#222222 1px, transparent 0);
  }

  .dark {
    --color-background: #111827;
    --color-surface: #1f2937;
    --color-shadow: #374151;
    --color-text_primary: #f9fafb;
    --color-text_secondary: #9ca3af;
    --color-primary_action: #3182ce;
    --color-accent_blue: #60a5fa;
    --color-bg-red: #f48b8b;
    --color-text-red: #ef4444;
    --color-border-red: #d93e3e;
    --color-border-green: #86efac;
    --color-success_bg: #064e3b;
    --color-explorer_row: #2d3748;
    --color-border: #374151;
    --color-canvas-bg-image: radial-gradient(#44484f 1px, transparent 0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .nav-item-active {
    @apply ml-4 block min-w-24 rounded-xl bg-black p-2 text-center text-xl text-white shadow-md shadow-gray-300;
  }

  .nav-item-inactive {
    @apply ml-4 block min-w-24 rounded-xl bg-gray-100 p-2 text-center text-xl text-black shadow-md shadow-gray-300;
  }
}

canvas {
  background: var(--color-canvas-bg) !important;
  background-image: var(--color-canvas-bg-image) !important;
  background-size: 40px 40px !important;
  background-position: -19px -19px !important;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  margin-top: 6rem;
  border-radius: 5px;
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:focus {
  outline: none;
}
