name: Build and push dockers

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get commit hash
        run: echo "COMMIT_HASH=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build \
            -f Dockerfile \
            --build-arg NEXT_PUBLIC_CBOR_ENDPOINT=${{ vars.NEXT_PUBLIC_CBOR_ENDPOINT }} \
            --build-arg NEXT_PUBLIC_GA_TRACKING_ID=${{ vars.NEXT_PUBLIC_GA_TRACKING_ID }} \
            -t nicolasluduenatxpipe/cardano-graphical-tx:ui-${COMMIT_HASH} \
            -t nicolasluduenatxpipe/cardano-graphical-tx:ui-${{ github.ref_name }} . \
            --progress=plain

      - name: Push Docker Image to Docker Hub
        run: |
          docker push nicolasluduenatxpipe/cardano-graphical-tx:ui-${COMMIT_HASH}
          docker push nicolasluduenatxpipe/cardano-graphical-tx:ui-${{ github.ref_name }}
